Low_Bat_messages/flow_battery_level_messages.json
[{"id":"021788de53bc5df6","type":"ha-get-entities","z":"0ac099befbe65e0c","name":"Get Batterie level 10%","server":"467d275d.a68208","version":1,"rules":[{"property":"entity_id","logic":"is","value":"sensor.tstat.*battery","valueType":"re"},{"property":"state","logic":"lt","value":"10","valueType":"num"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":290,"y":1020,"wires":[["779a3bd81454d735"]]},{"id":"dcbcdcc12b116902","type":"inject","z":"0ac099befbe65e0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 1,2,3,4,5,6","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1020,"wires":[["021788de53bc5df6"]]},{"id":"b4da1462540410e9","type":"join","z":"0ac099befbe65e0c","name":"","mode":"custom","build":"array","property":"lowbatdevices","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":1020,"wires":[["86e837ac6a26028f"]]},{"id":"779a3bd81454d735","type":"template","z":"0ac099befbe65e0c","name":"msg.lowbat","field":"lowbatdevices","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{! Adding friendly name plus SOC to get array }}\n\\n- {{payload.attributes.friendly_name}} at {{payload.state}}%","output":"str","x":490,"y":1020,"wires":[["b4da1462540410e9"]]},{"id":"f10875b6afeca289","type":"comment","z":"0ac099befbe65e0c","name":"Thermostat Heating Battery low message to tablet","info":"","x":190,"y":980,"wires":[]},{"id":"7b41e2de21bdeb42","type":"comment","z":"0ac099befbe65e0c","name":"Thermo/Hygrometer Zigbee low message to tablet","info":"","x":200,"y":1080,"wires":[]},{"id":"b35ec6ac1085b6e8","type":"api-call-service","z":"0ac099befbe65e0c","name":"Notify Tablet: Batteries level","server":"467d275d.a68208","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_lenovo_tb_x606f","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"{{title}}\",\"message\":\"{{message1}} {{lowbatdevices}} {{message2}}\",\"data\":{\"actions\":[{\"action\":\"{{action1}}\",\"title\":\"{{actionTitle1}}\",\"uri\":\"{{uri1}}\",\"icon\":\"sfsymbols:bell\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":1120,"wires":[[]]},{"id":"b73548c38056cc15","type":"ha-get-entities","z":"0ac099befbe65e0c","name":"Get Batterie level 10%","server":"467d275d.a68208","version":1,"rules":[{"property":"entity_id","logic":"is","value":"sensor.thermo.*battery","valueType":"re"},{"property":"state","logic":"lt","value":"10","valueType":"num"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":290,"y":1120,"wires":[["737db690a7a5495b"]]},{"id":"2f4bb7dda0b7d0cf","type":"inject","z":"0ac099befbe65e0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * 1,2,3,4,5,6","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1120,"wires":[["b73548c38056cc15"]]},{"id":"2be34aa7891d967c","type":"join","z":"0ac099befbe65e0c","name":"","mode":"custom","build":"array","property":"lowbatdevices","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":1120,"wires":[["bb453a08ea27e0b8"]]},{"id":"737db690a7a5495b","type":"template","z":"0ac099befbe65e0c","name":"msg.lowbat","field":"lowbatdevices","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{! Adding friendly name plus SOC to get array }}\n\\n- {{payload.attributes.friendly_name}} at {{payload.state}}%","output":"str","x":490,"y":1120,"wires":[["2be34aa7891d967c"]]},{"id":"48a49903166d1606","type":"ha-get-entities","z":"0ac099befbe65e0c","name":"Get Batterie level 40%","server":"467d275d.a68208","version":1,"rules":[{"property":"entity_id","logic":"is","value":"sensor.*_battery_level","valueType":"re"},{"property":"state","logic":"lt","value":"40","valueType":"num"},{"property":"entity_id","logic":"is_not","value":"sensor.tstat.*_battery_level","valueType":"re"},{"property":"entity_id","logic":"is_not","value":"sensor.*renault.*","valueType":"re"}],"outputType":"split","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":290,"y":1220,"wires":[["9519cc557e729237"]]},{"id":"e67deb6dd7a7e91e","type":"inject","z":"0ac099befbe65e0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1220,"wires":[["48a49903166d1606"]]},{"id":"6322ed1da16c4e7b","type":"join","z":"0ac099befbe65e0c","name":"","mode":"custom","build":"array","property":"lowbatdevices","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":1220,"wires":[["8ec37de4da9530e3"]]},{"id":"9519cc557e729237","type":"template","z":"0ac099befbe65e0c","name":"msg.lowbat","field":"lowbatdevices","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{! Adding friendly name plus SOC to get array }}\n\\n- {{payload.attributes.friendly_name}} at {{payload.state}}%","output":"str","x":490,"y":1220,"wires":[["6322ed1da16c4e7b"]]},{"id":"865d9102f6a4bb03","type":"comment","z":"0ac099befbe65e0c","name":"Mobile devices Battery low message to tablet","info":"","x":180,"y":1180,"wires":[]},{"id":"86e837ac6a26028f","type":"change","z":"0ac099befbe65e0c","name":"Set Message","rules":[{"t":"set","p":"title","pt":"msg","to":"Battery Heating Thermostat low?","tot":"str"},{"t":"set","p":"message1","pt":"msg","to":"Following devices have low battery level:","tot":"str"},{"t":"set","p":"message2","pt":"msg","to":"\\nPlease replace!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1020,"wires":[["b35ec6ac1085b6e8"]]},{"id":"bb453a08ea27e0b8","type":"change","z":"0ac099befbe65e0c","name":"Set Message","rules":[{"t":"set","p":"title","pt":"msg","to":"Battery Themp Sensors low","tot":"str"},{"t":"set","p":"message1","pt":"msg","to":"Following devices have low battery level:","tot":"str"},{"t":"set","p":"message2","pt":"msg","to":"\\nPlease replace!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1120,"wires":[["b35ec6ac1085b6e8"]]},{"id":"8ec37de4da9530e3","type":"change","z":"0ac099befbe65e0c","name":"Set Message","rules":[{"t":"set","p":"title","pt":"msg","to":"Battery Mobile devices low?","tot":"str"},{"t":"set","p":"message1","pt":"msg","to":"Following devices have low battery level:","tot":"str"},{"t":"set","p":"message2","pt":"msg","to":"\\nPlease recharge!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1220,"wires":[["b35ec6ac1085b6e8"]]},{"id":"467d275d.a68208","type":"server","name":"Home Assistant_ok","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true,"info":"y|yes|true|on|home|open"}]